<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getTests>
        <processor type="Sitecore.ContentTesting.Pipelines.GetTests.GetPersonalizationTests, Sitecore.ContentTesting" set:type="Sitecore.Support.ContentTesting.Pipelines.GetTests.GetPersonalizationTests, Sitecore.Support.226334" />
      </getTests>
    </pipelines>
  </sitecore>
</configuration>